*.mp4 filter=lfs diff=lfs merge=lfs -text
.xml filter=lfs diff=lfs merge=lfs -text
.resource filter=lfs diff=lfs merge=lfs -text
.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Wwise/Deplyment/Plugins filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
